<div class="mat-keyboard-wrapper"
  [class.dark-theme]="darkTheme$ | async"
  [class.debug]="isDebug$ | async"
  >
  <nav class="mat-keyboard-layout">
    @for (row of layout.keys; track row) {
      <div class="mat-keyboard-row"
        >
        @for (key of row; track key) {
          @if (getModifiedKey(key)) {
            <mat-keyboard-key class="mat-keyboard-col"
              [key]="getModifiedKey(key)"
              [icon]="getKeyIcon(key)"
              [active]="isActive(key)"
              [input]="inputInstance | async"
              [control]="control"
              (enterClick)="onEnterClick()"
              (capsClick)="onCapsClick()"
              (altClick)="onAltClick()"
              (shiftClick)="onShiftClick()"
              (keyClick)="onKeyClick()"
             />
          }
        }
      </div>
    }
  </nav>
</div>
