.content {
  margin: 40px 32px;
}

.row {
  align-items: flex-end;
  display: grid;
  grid-gap: 16px;
  grid-template-columns: repeat(auto-fit, minmax(245px, 1fr));
  padding: 8px;

  .content-test-form &:last-of-type > .col:last-of-type {
    align-self: flex-start;
    padding-top: 8px;
  }
}

.col {
  position: relative;
  /* TODO(mdc-migration): The following rule targets internal classes of input that may no longer apply for the MDC version. */
  > .mat-input-container {
    display: block;
  }
}

.mat-mdc-raised-button {
  width: 100%;

  .mat-mdc-select + & {
    margin-top: 24px;
  }
}

.mat-mdc-select {
  display: block;
}

pre {
  background-color: #e0e0e0;
  border-radius: 3px;
  display: block;
  font: 11px/1.5 Monospaced, monospace;
  margin: 8px 0;
  min-height: 16px;
  padding: 4px 8px;
  white-space: normal;
}
